---
import Layout from "../layouts/Layout.astro";
import Card01 from "../components/Card01.astro";
import Card02 from "../components/Card02.astro";
import Card03 from "../components/Card03.astro";
import Card04 from "../components/Card04.astro";
---

<Layout>
  <div class="space-y-8 bg-gray-300 p-8">
    <Card01 />
    <Card02 />
    <Card03 />
    <Card04 />
  </div>
</Layout>
