---
import { Image } from "astro:assets";
import Vagues from "../assets/img/vagues.avif";
import Play from "../assets/icons/play-arrow.svg";
---

<article>
  <div>
    <Image src={Vagues} alt="Vagues bleues"/>
    <div>
      <Play />
    </div>
  </div>
  <div>
    <h3>Jerome Bell</h3>
    <h2>Constructive and destructive waves</h2>
  </div>
</article>
