---
import { Image } from "astro:assets";
import Portrait from "../assets/img/user-01.avif";
---

<article>
  <header>
    <div>
      <Image src={Portrait} alt="Jerome Bell"/>
      <div>  
        <h3>Jerome Bell</h3>
        <p>@whitefish664</p>
      </div>
    </div>
    <a href="#">Follow</a>
  </header>
  <h2>Constructive and destructive waves</h2>
  <p>
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
</article>
